<a href="https://colab.research.google.com/github/sooonsyk/ESAA-22-2/blob/main/22_2_OB4_project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

submission = pd.read_csv('sample_submission.csv')
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         31684 non-null  int64
 1   송하인_격자공간고유번호  31684 non-null  int64
 2   수하인_격자공간고유번호  31684 non-null  int64
 3   물품_카테고리       31684 non-null  object
 4   운송장_건수        31684 non-null  int64
dtypes: int64(4), object(1)
memory usage: 1.2+ MB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7920 entries, 0 to 7919
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         7920 non-null   int64
 1   송하인_격자공간고유번호  7920 non-null   int64
 2   수하인_격자공간고유번호  7920 non-null   int64
 3   물품_카테고리       7920 non-null   object
dtypes: int64(3), object(1)
memory usage: 247.6+ KB

## **index 칼럼 drop**

In [2]:
train.drop('index', axis=1, inplace=True)

In [3]:
test.drop('index', axis=1, inplace=True)

## **격자번호 문자열 변환**

In [4]:
train['송하인_격자공간고유번호'] = train['송하인_격자공간고유번호'].astype(str)
train['수하인_격자공간고유번호'] = train['수하인_격자공간고유번호'].astype(str)

In [5]:
test['송하인_격자공간고유번호'] = test['송하인_격자공간고유번호'].astype(str)
test['수하인_격자공간고유번호'] = test['수하인_격자공간고유번호'].astype(str)

##**4,5,6,10,14,15 가 0인가**

- 송하인

In [ ]:
train.iloc[:,0].str[4:7].value_counts()

000    29499
001      804
100      481
500      393
300      338
900      121
700       48
Name: 송하인_격자공간고유번호, dtype: int64

In [ ]:
train.iloc[:,0].str[5].value_counts()

0    31684
Name: 송하인_격자공간고유번호, dtype: int64

In [ ]:
train.iloc[:,0].str[10].value_counts()

0    31500
1      184
Name: 송하인_격자공간고유번호, dtype: int64

In [ ]:
train.iloc[:,0].str[14:16].value_counts()

00    31684
Name: 송하인_격자공간고유번호, dtype: int64

- 5, 14, 15 번째는 전부 0

- 수하인

In [ ]:
train.iloc[:,1].str[4:7].value_counts()

000    25933
500     1731
300     1604
100     1502
700      620
001      169
900      125
Name: 수하인_격자공간고유번호, dtype: int64

In [ ]:
train.iloc[:,1].str[5].value_counts()

0    31684
Name: 수하인_격자공간고유번호, dtype: int64

In [ ]:
train.iloc[:,1].str[10].value_counts()

0    31367
1      317
Name: 수하인_격자공간고유번호, dtype: int64

In [ ]:
train.iloc[:,1].str[14:16].value_counts()

00    31684
Name: 수하인_격자공간고유번호, dtype: int64

- 마찬가지로 5, 14, 15 전부 0

##**칼럼 생성**

In [ ]:
train.iloc[:,0].str[:5].value_counts()

50110    13030
50130    10431
41480     1199
41410      472
41590      394
         ...
47920        1
31170        1
42190        1
42750        1
46720        1
Name: 송하인_격자공간고유번호, Length: 237, dtype: int64

In [ ]:
train.iloc[:,0].str[6:10].value_counts()

0078    3911
0610    1812
0731    1403
0137    1190
0821     745
        ...
0756       1
0520       1
0261       1
1031       1
1383       1
Name: 송하인_격자공간고유번호, Length: 835, dtype: int64

In [6]:
train['송하인_시도'] = train.iloc[:,0].str[:2]
train['송하인_시군구'] = train.iloc[:,0].str[:5]
train['송하인_동'] = train.iloc[:,0].str[:10]
train['송하인_기타'] = train.iloc[:,0].str[10:14]

train['수하인_시도'] = train.iloc[:,1].str[:2]
train['수하인_시군구'] = train.iloc[:,1].str[:5]
train['수하인_동'] = train.iloc[:,1].str[:10]
train['수하인_기타'] = train.iloc[:,1].str[10:14]

In [7]:
train.drop(['송하인_격자공간고유번호','수하인_격자공간고유번호'], axis=1, inplace=True)

In [8]:
test['송하인_시도'] = test.iloc[:,0].str[:2]
test['송하인_시군구'] = test.iloc[:,0].str[:5]
test['송하인_동'] = test.iloc[:,0].str[:10]
test['송하인_기타'] = test.iloc[:,0].str[10:14]

test['수하인_시도'] = test.iloc[:,1].str[:2]
test['수하인_시군구'] = test.iloc[:,1].str[:5]
test['수하인_동'] = test.iloc[:,1].str[:10]
test['수하인_기타'] = test.iloc[:,1].str[10:14]

In [9]:
test.drop(['송하인_격자공간고유번호','수하인_격자공간고유번호'], axis=1, inplace=True)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   물품_카테고리  31684 non-null  object
 1   운송장_건수   31684 non-null  int64
 2   송하인_시도   31684 non-null  object
 3   송하인_시군구  31684 non-null  object
 4   송하인_동    31684 non-null  object
 5   송하인_기타   31684 non-null  object
 6   수하인_시도   31684 non-null  object
 7   수하인_시군구  31684 non-null  object
 8   수하인_동    31684 non-null  object
 9   수하인_기타   31684 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.4+ MB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7920 entries, 0 to 7919
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   물품_카테고리  7920 non-null   object
 1   송하인_시도   7920 non-null   object
 2   송하인_시군구  7920 non-null   object
 3   송하인_동    7920 non-null   object
 4   송하인_기타   7920 non-null   object
 5   수하인_시도   7920 non-null   object
 6   수하인_시군구  7920 non-null   object
 7   수하인_동    7920 non-null   object
 8   수하인_기타   7920 non-null   object
dtypes: object(9)
memory usage: 557.0+ KB

## **라벨 인코딩**

In [ ]:
features = ['물품_카테고리', '송하인_시도', '송하인_시군구', '송하인_동', '수하인_시도', '수하인_시군구', '수하인_동']

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le1 = LabelEncoder()

le1.fit(train['물품_카테고리'])

train['물품_카테고리'] = le1.transform(train['물품_카테고리'])
test['물품_카테고리'] = le1.transform(test['물품_카테고리'])

In [12]:
X_train = train.drop('운송장_건수', axis=1)
y_train = train['운송장_건수']
X_test = test

##**결정 트리**

In [ ]:
from sklearn.tree import DecisionTreeClassifier

dt_clf = DecisionTreeClassifier()

In [ ]:
from sklearn.model_selection import GridSearchCV

params = {
    'max_depth' : [2, 6, 10, 16, 20],
    'min_samples_leaf' : [2, 6, 10],
    'min_samples_split' :[2, 6, 10],
    'max_features' : [3,5,7],
    'max_leaf_nodes' : [2, 6, 10]
}

dt_grid = GridSearchCV(dt_clf, param_grid=params, scoring='accuracy', cv=3, verbose=1)
dt_grid.fit(X_train, y_train)
print(dt_grid.best_score_)
print(dt_grid.best_params_)

Fitting 3 folds for each of 405 candidates, totalling 1215 fits

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  UserWarning,

0.5544754491125258
{'max_depth': 20, 'max_features': 5, 'max_leaf_nodes': 10, 'min_samples_leaf': 10, 'min_samples_split': 6}

In [ ]:
dt_clf = DecisionTreeClassifier(max_depth= 20, max_features= 5, max_leaf_nodes= 10, min_samples_leaf = 10, min_samples_split = 6)
dt_clf.fit(X_train, y_train)
y_pred_dt = dt_clf.predict(X_test)

##**랜덤 포레스트**

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf_clf = RandomForestClassifier()

In [ ]:
rf_clf.get_params().keys()

dict_keys(['bootstrap', 'ccp_alpha', 'class_weight', 'criterion', 'max_depth', 'max_features', 'max_leaf_nodes', 'max_samples', 'min_impurity_decrease', 'min_samples_leaf', 'min_samples_split', 'min_weight_fraction_leaf', 'n_estimators', 'n_jobs', 'oob_score', 'random_state', 'verbose', 'warm_start'])

In [ ]:
params = {
    'n_estimators' : [50, 100, 200],
    'max_depth' : [6, 8, 10, 12],
    'min_samples_leaf' : [8, 12, 18],
    'min_samples_split' : [8, 16, 20]
}

rf_grid = GridSearchCV(rf_clf, param_grid = params, cv=3)
rf_grid.fit(X_train, y_train)

print(rf_grid.best_score_)
print(rf_grid.best_params_)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  UserWarning,

0.5546016938065863
{'max_depth': 8, 'min_samples_leaf': 12, 'min_samples_split': 8, 'n_estimators': 100}

In [ ]:
rf_clf = RandomForestClassifier(max_depth = 8, min_samples_leaf = 12, min_samples_split = 8, n_estimators = 300)
rf_clf.fit(X_train, y_train)
y_pred_rf = rf_clf.predict(X_test)

##**에이다부스트**

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

ada_clf = AdaBoostClassifier()

In [ ]:
ada_clf.get_params().keys()

dict_keys(['algorithm', 'base_estimator', 'learning_rate', 'n_estimators', 'random_state'])

In [ ]:
params = {
    'n_estimators' : [50, 200],
    'learning_rate' : [0.2, 0.1, 0.05, 0.01],
}

ada_grid = GridSearchCV(ada_clf, param_grid = params, cv=3)
ada_grid.fit(X_train, y_train)

print(ada_grid.best_score_)
print(ada_grid.best_params_)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  UserWarning,

0.5543807611094956
{'learning_rate': 0.2, 'n_estimators': 50}

In [ ]:
ada_clf = AdaBoostClassifier(learning_rate=0.2, n_estimators = 300)
ada_clf.fit(X_train, y_train)
y_pred_ada = ada_clf.predict(X_test)

##**GBM**

In [13]:
from sklearn.ensemble import GradientBoostingClassifier

gbm_clf = GradientBoostingClassifier()

In [14]:
from sklearn.model_selection import GridSearchCV

params = {
    'n_estimators' : [50],
    'learning_rate' : [0.2, 0.1],
    'max_depth' : [6, 10]#,
    #'min_samples_split' : [8, 16]
}

gbm_grid = GridSearchCV(gbm_clf, param_grid = params, cv=3, verbose=2)
gbm_grid.fit(X_train, y_train)

print(gbm_grid.best_score_)
print(gbm_grid.best_params_)

Fitting 3 folds for each of 4 candidates, totalling 12 fits

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  UserWarning,

[CV] END ....learning_rate=0.2, max_depth=6, n_estimators=50; total time= 6.4min
[CV] END ....learning_rate=0.2, max_depth=6, n_estimators=50; total time= 6.4min
[CV] END ....learning_rate=0.2, max_depth=6, n_estimators=50; total time= 6.4min
[CV] END ...learning_rate=0.2, max_depth=10, n_estimators=50; total time= 9.5min
[CV] END ...learning_rate=0.2, max_depth=10, n_estimators=50; total time= 9.6min
[CV] END ...learning_rate=0.2, max_depth=10, n_estimators=50; total time= 9.5min
[CV] END ....learning_rate=0.1, max_depth=6, n_estimators=50; total time= 6.7min
[CV] END ....learning_rate=0.1, max_depth=6, n_estimators=50; total time= 6.9min
[CV] END ....learning_rate=0.1, max_depth=6, n_estimators=50; total time= 6.7min
[CV] END ...learning_rate=0.1, max_depth=10, n_estimators=50; total time= 9.6min
[CV] END ...learning_rate=0.1, max_depth=10, n_estimators=50; total time=10.1min
[CV] END ...learning_rate=0.1, max_depth=10, n_estimators=50; total time=10.1min
0.5119617938360376
{'learning_rate': 0.1, 'max_depth': 6, 'n_estimators': 50}

In [15]:
gbm_clf = GradientBoostingClassifier(learning_rate = 0.1, max_depth = 6, n_estimators = 300)
gbm_clf.fit(X_train, y_train)
y_pred_gbm = gbm_clf.predict(X_test)